#navbar {
    list-style: none;
    height: 40px;
    width: 100%;
    background-color:rgb(53, 53, 57);
    color: white;
    position:fixed;
}

#navbar ul {
    display: grid; 
    grid-auto-flow: column; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 150px; 
    justify-content: space-between;
  }

#navbar li {
    padding: 10px;
    width: 80px;
  }
  
header {
    display: flex;
    height: 200px; 
    background-color:dodgerblue; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
}

main {
    display: flex;
}

#aside {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 200px;
}

#main-content {
    flex-grow: 1;
    display: grid;
    height: 2000px;
    background-color: white;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 100px;
}

#sidebar {
    display: flex;
    width: 100px;
    height: 2200px;
    background-color:rgb(53, 53, 57);
    color: white;
}

#sidebar li {
    display: grid; 
    grid-auto-flow: row; 
    list-style: none;
    padding: 5px;
    margin: 9px;
  }
  
#sidebar ul {
    padding: 10px;
    
  }

footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100px;
    background-color:rgb(53, 53, 57);
    color: white;
}